.appBackground {
  width: 100%;
  height: 100vh;
  font-family: Georgia, serif;
  font-weight: lighter;
  background-image: linear-gradient(
    to top right,
    white,
    #d4dff3,
    rgba(138, 144, 224, 0.76),
    rgba(106, 117, 231, 0.76),
    rgba(85, 97, 229, 0.76)
  );

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#option {
  transition: all 0.3s;
  margin: 0 20px;
  cursor: pointer;
}
#option:hover {
  transition: all 0.3s;
  margin: 0 20px;
  text-decoration: underline solid white;
  /* font-size: 25px; */
  transform: scale(1.2);
}

.navagationBar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  color: white;
  position: absolute;
  top: 0;
  font-size: 20px;
  font-weight: 700;
  padding: 20px 0;
  text-align: center;
  background: linear-gradient(
    to bottom right,
    transparent,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.2),
    transparent
  );
}
