.addButton {
  color: white;
  background-color: #6c6cff;
  border-style: solid;
  border-color: transparent;
  border-radius: 4px;
  height: 35px;
  width: 35px;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
